* {
	font-family: 'Nunito Sans';
}

.primary-color {
	color: #81bc00;
}

/* Search bar */
#search-section {
	background: rgb(33, 62, 124);
	background: linear-gradient(
		90deg,
		rgba(33, 62, 124, 1) 0%,
		rgba(42, 111, 133, 1) 71%,
		rgba(54, 174, 143, 1) 100%
	);
	height: 25px;
}

#search-section a {
	color: #fff;
	font-size: 0.7rem;
	padding: 0 1rem;
	text-decoration: none;
}

#search-section img {
	padding: 0 0.2rem;
	width: 2%;
}

#search-section i {
	padding: 0 0.2rem;
}

/* Navigation */
.navbar-light .navbar-brand {
	color: #215299;
	font-weight: 800;
	font-size: 1.5rem;
	text-decoration: none;
}

.navbar-light .navbar-brand:hover {
	color: #2d7b87;
}

.navbar .navbar-nav .nav-link {
	color: #215299;
}

.navbar .navbar-nav .nav-link:hover {
	color: #2d7b87;
}

.navbar .navbar-nav .nav-link {
	font-size: 0.8rem;
	padding: 1rem;
}

/* Showcase */
#home-section {
	position: relative;
	background: url(../img/Home/home.jpg) center center;
	background-size: cover;
	min-height: 600px;
	color: white;
}

#home-section .row {
	position: relative;
	top: 150px;
}

#home-section a {
	font-size: 0.6rem;
	font-weight: 700;
	background-color: #81bc00;
	border: none;
}

/* Teradyne brands */

.teradyne-brands-box {
	position: relative;
	margin-top: -50px;
	background-color: #fff;
	box-shadow: 0px 2px 16px 1px rgba(0, 0, 0, 0.43);
}

.vl {
	border-right: 1px solid #c6c6c6;
	height: 75%;
	position: relative;
	left: 20%;
	top: 0;
}

@media (max-width: 992px) {
	.vl {
		display: none;
	}
}

.teradyne-brands-box-left h6 {
	color: #81bc00;
	font-size: 1.2rem;
	font-weight: 800;
	text-transform: uppercase;
}

.teradyne-brands-box-right h6 {
	color: #54585a;
	font-weight: 700;
}

.teradyne-brands-box-right p {
	color: #696d6f;
	font-size: 0.9rem;
	margin: 0;
}

.teradyne-brands-box-right a {
	color: #81bc00;
	font-size: 0.6rem;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

/* Teradyne companies */

.teradyne-companies-body {
	background: rgb(38, 101, 175);
	background: linear-gradient(
		135deg,
		rgba(38, 101, 175, 1) 0%,
		rgba(38, 83, 155, 1) 77%,
		rgba(37, 63, 134, 1) 100%
	);
	padding: 2rem 10rem 4rem;
}

.teradyne-companies-body img {
	padding: 1rem 2rem;
}

.teradyne-companies-body p {
	color: white;
	font-size: 0.8rem;
	opacity: 0.7;
}

/* Industry Expertise */

#industry-expertise {
	margin-top: 80px;
}

h5.primary-color {
	font-weight: 800;
	color: #81bc00;
}

.fa-arrow-left,
.fa-arrow-right {
	color: black;
}

.expertise-title h2 {
	color: #54585a;
	font-weight: 700;
}

.expertise-title p {
	color: #54585a;
	font-weight: 300;
	font-size: 0.8rem;
}

.expertise-image img {
	width: 100%;
	box-shadow: 0px 2px 16px 1px rgba(0, 0, 0, 0.43);
	border-radius: 0.5%;
}

.industry-button {
	font-size: 0.5rem;
	font-weight: 700;
	background-color: #81bc00;
	border: none;
	text-decoration: none;
}

/* Application */
#application-section {
	padding: 2rem 0;
	background: #333;
	color: white;
	margin-top: -25px;
	padding: 100px 0;
}

.application-title p {
	color: #999999;
	font-size: 0.8rem;
}

.application-icons {
}

.applications-text {
	font-size: 0.8rem;
}

/* News and Events */

#news-section {
	margin-top: 80px;
}

#news-section .view-all {
	font-size: 0.5rem;
	font-weight: 700;
	background-color: #81bc00;
	border: none;
}

a.read-more {
	color: #54585a;
	text-decoration: none;
	border-bottom: 1.5px #81bc00 solid;
}

.news-events-title h2 {
	font-weight: 700;
	color: #54585a;
}

.news-events-side-heading {
	font-weight: bold;
}

.news-events-side-left p {
	color: #76797b;
	font-size: 0.8rem;
	max-width: 100%;
}

.news-events-side-right {
	background: rgb(11, 175, 224);
	background: linear-gradient(
		135deg,
		rgba(11, 175, 224, 1) 0%,
		rgba(47, 177, 174, 1) 63%,
		rgba(80, 180, 131, 1) 100%
	);
	color: #fff;
}

.news-events-side-right p {
	text-align: justify;
	font-size: 0.9rem;
	margin: 0;
}

.tugx-logo {
	width: 40%;
}

#news-section .tugx-events-button {
	font-size: 0.5rem;
	font-weight: 700;
	background-color: #81bc00;
	border: none;
	text-decoration: none;
}

/* Join the Team */
#teradyne-careers {
	position: relative;
	margin-bottom: -50px;
	z-index: 5;
}

#join-the-team {
	box-shadow: 0px 2px 16px 1px rgba(0, 0, 0, 0.43);
}

#join-the-team img {
	width: 100%;
}

#join-the-team a {
	color: #5f6264;
	text-decoration: none;
	border-bottom: 1.5px #81bc00 solid;
}

.join-the-team-title {
	font-weight: 600;
	color: #54585a;
}

.join-the-team-text {
	color: #5f6264;
}

/* Invest  */
#invest-section {
	position: relative;
	background: url(../img/Innovation/bg_invest.jpg) no-repeat center center;
	background-size: cover;
	min-height: 600px;
}

.invest-section-main {
	top: 130px;
}

.invest-section-title h1 {
	color: #54585a;
	font-weight: 600;
}

.invest-section-title p {
	color: #54585a;
}

.invest-section-title a {
	text-decoration: none;
	font-weight: 900;
	font-size: 0.6rem;
	color: #6e7270;
}

.invest-section-stats h1 {
	color: #fff;
	font-size: 4rem;
	font-weight: 700;
}

.invest-section-stats .invest-dollar {
	font-weight: 300;
}

.invest-section-stats p {
	color: #fff;
	font-size: 0.8rem;
	font-weight: 700;
	text-transform: uppercase;
}

.invest-section-stats .invest-time {
	color: #fff;
	font-size: 0.6rem;
	opacity: 0.7;
}

.fa-rotate-45 {
	transform: rotate(45deg);
}

/* Footer */
#footer {
	margin: 50px 0 100px 0;
}

.footer-logo {
	color: #215299;
	font-weight: 800;
	font-size: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	margin: 2rem 0;
}

.footer-menu a {
	font-size: 0.7rem;
	color: #215299;
	text-decoration: none;
}

.footer-menu-items {
	padding-bottom: 0.5rem;
}

.subscribe-title {
	color: #215299;
	font-size: 0.7rem;
	font-weight: 700;
}

.social-media-icons i {
	color: #215299;
}

.twitter-careers a,
.twitter-careers i {
	color: #3cb4e5;
	font-size: 0.8rem;
}

.copyright p,
.copyright a {
	color: #2f5d9f;
	font-size: 0.7rem;
}

/* Responsive */

/* Application */
/* @media (min-width: 768px) {
	.seven-cols .col-md-1,
	.seven-cols .col-sm-1,
	.seven-cols .col-lg-1 {
		width: 100%;
		*width: 100%;
	}
}

@media (min-width: 992px) {
	.seven-cols .col-md-1,
	.seven-cols .col-sm-1,
	.seven-cols .col-lg-1 {
		width: 14.285714285714285714285714285714%;
		*width: 14.285714285714285714285714285714%;
	}
} */

/* 14% = 100% (full-width row) divided by 7 */
